# Ignore all folders starting with "etc" This doesn't work? 
etc*/

# Explictly ignore the generated pihole folders
# This isnt necessary really but it makes me feel better hehe
etc-dnsmasq.d/
etc-pihole/

pihole_password.txt